<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util.xsd
    ">


	<!-- stand alone list -->
	<util:list list-class="java.util.ArrayList" id="myFriendList">
		<value>Aman</value>
		<value>Rman</value>
		<value>Rohit</value>
		<value>Rman</value>
	</util:list>
	<!-- stand alone map -->

	<util:map map-class="java.util.TreeMap" id="feeMap">
		<entry key="java" value="1000" />
		<entry key="javar" value="1000" />
		<entry key="c" value="3000" />
		<entry key="paython" value="6000" />
	</util:map>

	<!-- stand alone properties -->

	<util:properties id="Dbconfig">
		<prop key="driver">Driver</prop>
		<prop key="UserName">UserName</prop>
		<prop key="Password">Password</prop>
		<prop key="Url">Url</prop>
	</util:properties>

	<!-- com.springcore.standalone.collection -->
	<bean class="com.springcore.standalone.collection.person"
		name="person1">
		<property name="friendsList" ref="myFriendList" />
		<property name="fees" ref="feeMap" />
		<property name="props" ref="Dbconfig" />
	</bean>





</beans>