<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
    ">
    
<!--     //for enable all anotations -->
    <context:annotation-config/>

<!-- user autowire using xml  -->
<!-- byName Check with same name  -->
<!-- bean name="address" shoud me match with object veriable name ; -->

<!-- byType check for type like address type  -->

<bean class="com.springcore.autowire.Address" name="address">
 <property name="city" value="jalgoan"/> 
  <property name="state" value="MH"/> 
</bean>
<bean class="com.springcore.autowire.Address" name="address2">
 <property name="city" value="nerul"/> 
  <property name="state" value="MH"/> 
</bean>

<bean class="com.springcore.autowire.employee" name="employeebean" autowire="constructor"/>


</beans>